@import "../public/css/normalize.css";
@import "../public/css/main.css";
@import "../public/css/fonts.css";
@import "../public/css/swiper-bundle.css";
@import "../public/css/nice-select2.css";

/* .smart-sticky {
  top: 0;
} */

.d-none {
  display: none;
}
.pagination-list .page-nav-prev {
  display: block;
}
li.page-item.active a {
  color: var(--primary-accent-color);
  fill: var(--primary-accent-color);
}
.c-pointer {
  cursor: pointer;
}
.text-capitalize {
  text-transform: capitalize;
}

.collapse:not(.show) {
  display: none;
}
.card-body {
  max-height: unset !important;
  visibility: unset !important;
}
.collapsing {
  position: relative;
  height: 0;
  overflow: hidden;
  transition: height 0.35s ease;
}
